language: python

dist: bionic

python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"

install:
  - pip install tox-travis
  - pip install codecov
  - sudo apt-get install gdal-bin

script:
  - tox

notifications:
  email: false

after_success:
  - codecov
